.nav-bar {
  background-color: var(--darkblue);
  font-family: var(--heading-font), sans-serif;
  display: flex;
  justify-content: space-around;
}

.nav-bar a {
  padding: 10px;
}

.site-homepage-link {
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-links {
  display: flex;
  align-items: center;
}
